# Environnements locaux
.venv/
venv/
env/

# Caches Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/

# Artefacts systeme / editeur
.DS_Store
Thumbs.db
.vscode/
.idea/

# Artefacts de build WASM generes localement
public/*.wasm
public/*.wat
public/main.ml
public/automate_elementaire.ml

